azure_settings_file = "{{AZURE_SETTINGS_FILE}}"
azure_subscription_id = "{{AZURE_SUBSCRIPTION_ID}}"
azure_certificate = "{{AZURE_CERT}}"
username = "{{VM_USER}}"
password = "{{VM_PASS}}"
key_fingerprint = "{{AZURE_SUBSCRIPTION_THUMBPRINT}}"
ssh_fingerprint = "{{SSH_FINGERPRINT}}"
region = "{{AZURE_REGION}}"
domain = "{{DOMAIN_NAME}}"
dnsimple_token = "{{DNSIMPLE_API_TOKEN}}"
dnsimple_email = "{{DNSIMPLE_EMAIL_ADDR}}"
